{
  "project_info": {
    "project_number": "TU_NUMERO_DE_PROYECTO",
    "project_id": "TU_PROJECT_ID",
    "storage_bucket": "TU_STORAGE_BUCKET.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "TU_MOBILE_SDK_APP_ID",
        "android_client_info": {
          "package_name": "com.example.smallchangedam"
        }
      },
      "api_key": [
        {
          "current_key": "TU_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
